*.zip
*.jar
*.mod
*.pyc
*~
mx.xsite/.project
mx.xsite/.pydevproject
mx.xsite/*.pyc
mx.xsite/__pycache__
mx.xsite/env
mx.xsite/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
xsite/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
